body, html {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: grey;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, label, button {
    margin: 5px;
    padding: 2px;
}